Repository FlexibleEngineCloud/provider-flexibleengine, pull requests merged in 2023-01, with the labels that each got.

#55 feat(sdrs): add examples
  apis/sdrs/v1beta1/zz_replicationpair_types.go
  config/sdrs/config.go
  examples/evs/blockstoragevolume.yaml
  examples/sdrs/drill.yaml
  examples/sdrs/drill.yaml.extra
  examples/sdrs/protectedinstance.yaml
  examples/sdrs/protectedinstance.yaml.extra
  examples/sdrs/protectiongroup.yaml
  examples/sdrs/replicationattach.yaml
  examples/sdrs/replicationpair.yaml
  package/crds/sdrs.flexibleengine.upbound.io_replicationpairs.yaml
Labels: new-resource, sdrs

#58 feat(dws): Add examples
  config/dws/config.go
  examples/dws/cluster.yaml
  examples/dws/cluster_secret.yaml
Labels: new-resource, dws

#56 feat(rds): Add rds single instance example
  examples/rds/account.yaml
  examples/rds/database.yaml
  examples/rds/databaseprivilege.yaml
  examples/rds/instance.yaml
  examples/rds/instance.yaml.extra
  examples/rds/instance_secret.yaml
  examples/rds/parametergroup.yaml
  examples/rds/readreplica.yaml
Labels: new-resource, rds

#62 fix(vpc): fix subnet_id attribute
  config/external_name.go
Labels: vpc

#61 feat(dms): Add examples
  apis/dms/v1beta1/zz_generated.resolvers.go
  apis/dms/v1beta1/zz_kafkatopic_types.go
  apis/dms/v1beta1/zz_kafkauser_types.go
  config/overrides.go
  examples/dms/kafkainstance.yaml
  examples/dms/kafkainstance_secret.yaml
  examples/dms/kafkatopic.yaml
  examples/dms/kafkauser.yaml
  examples/dms/kafkauser_secret.yaml
  package/crds/dms.flexibleengine.upbound.io_kafkatopics.yaml
  package/crds/dms.flexibleengine.upbound.io_kafkausers.yaml
Labels: new-resource, dms

#81 feat(dcs): Add new resources dcs
  config/groups.go
  examples/dcs/instance.yaml
  examples/dcs/instance_secret.yaml
Labels: new-resource, category/dcs

#83 ci: check convention on commits and PR
  .github/workflows/conventional_commit.yaml
  .github/workflows/pr_labeler.yml
  .github/workflows/pull_request.yml
Labels: size/S

#91 fix(vpc)!: remove networking resources
  config/provider.go
  config/vpc/config.go
  examples/vpc/network.yaml
  examples/vpc/networkingsubnet.yaml
  examples/vpc/router.yaml
  examples/vpc/routerinterface.yaml
Labels: category/vpc, size/S

#89 docs: improve documentation about configuration
  docs/Configuration.md
  docs/Quickstart.md
  docs/index.json
Labels: size/M

#87 feat(main)!: move tenantName to ProviderConfig.spec
  apis/v1beta1/types.go
  internal/clients/flexibleengine.go
  package/crds/flexibleengine.upbound.io_providerconfigs.yaml
Labels: size/S

#95 docs: replace QuickStart by configuration
  README.md
Labels: size/XS

#94 feat(ecs): add missing examples
  apis/ecs/v1beta1/zz_floatingipassociate_types.go
  apis/ecs/v1beta1/zz_generated.deepcopy.go
  apis/ecs/v1beta1/zz_generated.managed.go
  apis/ecs/v1beta1/zz_generated.managedlist.go
  apis/ecs/v1beta1/zz_generated.resolvers.go
  apis/ecs/v1beta1/zz_generated_terraformed.go
  apis/ecs/v1beta1/zz_interfaceattach_types.go
  apis/evs/v1beta1/zz_computevolumeattach_types.go
  apis/evs/v1beta1/zz_generated.deepcopy.go
  apis/evs/v1beta1/zz_generated.managed.go
  apis/evs/v1beta1/zz_generated.managedlist.go
  apis/evs/v1beta1/zz_generated.resolvers.go
  apis/evs/v1beta1/zz_generated_terraformed.go
  config/ecs/config.go
  config/evs/config.go
  config/groups.go
  examples-generated/ecs/interfaceattach.yaml
  examples-generated/evs/computevolumeattach.yaml
  examples/ecs/floatingipassociate.yaml
  examples/ecs/instance.yaml
  examples/ecs/interfaceattach.yaml
  examples/evs/computevolumeattach.yaml
  internal/controller/evs/computevolumeattach/zz_controller.go
  internal/controller/zz_setup.go
  list-tested.md
  package/crds/ecs.flexibleengine.upbound.io_interfaceattaches.yaml
  package/crds/evs.flexibleengine.upbound.io_computevolumeattaches.yaml
Labels: new-resource, category/ecs, category/evs, size/XL

#97 fix(elb): local type in global override
  apis/dedicatedelb/v1beta1/zz_member_types.go
  apis/dedicatedelb/v1beta1/zz_monitor_types.go
  apis/elb/v1beta1/zz_member_types.go
  apis/elb/v1beta1/zz_monitor_types.go
  config/overrides.go
  package/crds/dedicatedelb.flexibleengine.upbound.io_members.yaml
  package/crds/dedicatedelb.flexibleengine.upbound.io_monitors.yaml
  package/crds/elb.flexibleengine.upbound.io_members.yaml
  package/crds/elb.flexibleengine.upbound.io_monitors.yaml
Labels: size/S, category/elb, category/dedicatedelb

#98 chore: improve GolangCI Lint
  .golangci.yml
  .vscode/settings.json
  Makefile
  config/agd/config.go
  config/antiddos/config.go
  config/as/config.go
  config/bms/config.go
  config/cce/config.go
  config/common/common.go
  config/csbs/config.go
  config/cse/config.go
  config/css/config.go
  config/dds/config.go
  config/dedicatedelb/config.go
  config/dli/config.go
  config/dns/config.go
  config/drs/config.go
  config/dws/config.go
  config/ecs/config.go
  config/eip/config.go
  config/elb/config.go
  config/evs/config.go
  config/fgs/config.go
  config/groups.go
  config/lts/config.go
  config/mrs/config.go
  config/nat/config.go
  config/netacl/config.go
  config/oss/config.go
  config/overrides.go
  config/rds/config.go
  config/sdrs/config.go
  config/sfs/config.go
  config/smn/config.go
  config/swr/config.go
  config/vbs/config.go
  config/vpc/config.go
  config/vpcep/config.go
  config/waf/config.go
Labels: size/M

#103 ci: issues and PR triage with labels
  .github/labeler.yml
  .github/workflows/issue_triage.yml
  .github/workflows/pr_triage.yml
Labels: size/S, ci

#106 chore(main): update upjet to 0.8.0
  go.mod
  go.sum
Labels: size/S, chore, dependencies

#107 feat(dli): add examples
  apis/dli/v1beta1/zz_flinksqljob_types.go
  apis/dli/v1beta1/zz_generated.deepcopy.go
  apis/dli/v1beta1/zz_generated.resolvers.go
  apis/dli/v1beta1/zz_generated_terraformed.go
  config/dli/config.go
  examples/dli/flinksqljob.yaml
  examples/dli/table.yaml
  examples/dli/table.yaml.extra
  package/crds/dli.flexibleengine.upbound.io_flinksqljobs.yaml
Labels: new-resource, category/dli, size/M, feature

#110 feat(swr): add resources and examples
  apis/swr/v1beta1/zz_generated.deepcopy.go
  apis/swr/v1beta1/zz_generated.resolvers.go
  apis/swr/v1beta1/zz_organizationusers_types.go
  apis/swr/v1beta1/zz_repositorysharing_types.go
  config/swr/config.go
  examples-generated/swr/organizationusers.yaml
  examples/iam/user.yaml
  examples/iam/user.yaml.secret
  examples/swr/organization.yaml
  examples/swr/organizationusers.yaml
  examples/swr/repository.yaml
  examples/swr/repositorysharing.yaml
  list-tested.md
  package/crds/swr.flexibleengine.upbound.io_organizationusers.yaml
  package/crds/swr.flexibleengine.upbound.io_repositorysharings.yaml
Labels: size/M, chore, feature

#113 feat(iam): add ressource and example acl
  apis/iam/v1beta1/zz_acl_types.go
  apis/iam/v1beta1/zz_generated.deepcopy.go
  apis/iam/v1beta1/zz_generated.managed.go
  apis/iam/v1beta1/zz_generated.managedlist.go
  apis/iam/v1beta1/zz_generated_terraformed.go
  config/external_name.go
  config/groups.go
  config/iam/config.go
  examples-generated/iam/acl.yaml
  examples/iam/acl.yaml
  internal/controller/iam/acl/zz_controller.go
  internal/controller/zz_setup.go
  package/crds/iam.flexibleengine.upbound.io_acls.yaml
Labels: category/iam, size/L, feature

#109 feat(netacl): Add network acl example
  apis/netacl/v1beta1/zz_acl_types.go
  apis/netacl/v1beta1/zz_generated.deepcopy.go
  apis/netacl/v1beta1/zz_generated.resolvers.go
  config/netacl/config.go
  examples-generated/netacl/acl.yaml
  examples/netacl/acl.yaml
  examples/netacl/acl.yaml.extra
  examples/netacl/aclrule.yaml
  examples/netacl/aclrule.yaml.extra
  package/crds/netacl.flexibleengine.upbound.io_acls.yaml
Labels: size/M, category/netacl, feature, bugfix

#114 fix(cce): Add missing arguments in node/nodepool
  apis/cce/v1beta1/zz_generated.deepcopy.go
  apis/cce/v1beta1/zz_generated.resolvers.go
  apis/cce/v1beta1/zz_node_types.go
  apis/cce/v1beta1/zz_nodepool_types.go
  config/cce/config.go
  package/crds/cce.flexibleengine.upbound.io_nodepools.yaml
  package/crds/cce.flexibleengine.upbound.io_nodes.yaml
Labels: category/cce, terraform-provider-change, size/M, bugfix

#126 feat(dms/rocketmq): add rocketmq resources
  apis/dms/v1beta1/zz_generated.deepcopy.go
  apis/dms/v1beta1/zz_generated.managed.go
  apis/dms/v1beta1/zz_generated.managedlist.go
  apis/dms/v1beta1/zz_generated.resolvers.go
  apis/dms/v1beta1/zz_generated_terraformed.go
  apis/dms/v1beta1/zz_rocketmqconsumergroup_types.go
  apis/dms/v1beta1/zz_rocketmqinstance_types.go
  apis/dms/v1beta1/zz_rocketmqtopic_types.go
  apis/dms/v1beta1/zz_rocketmquser_types.go
  config/dms/config.go
  config/external_name.go
  config/groups.go
  config/overrides.go
  examples-generated/dms/rocketmqconsumergroup.yaml
  examples-generated/dms/rocketmqtopic.yaml
  examples-generated/dms/rocketmquser.yaml
  examples/dms/rocketmqconsumergroup.yaml
  examples/dms/rocketmqinstance.yaml
  examples/dms/rocketmqtopic.yaml
  internal/controller/dms/rocketmqconsumergroup/zz_controller.go
  internal/controller/dms/rocketmqinstance/zz_controller.go
  internal/controller/dms/rocketmqtopic/zz_controller.go
  internal/controller/dms/rocketmquser/zz_controller.go
  internal/controller/zz_setup.go
  list-tested.md
  package/crds/dms.flexibleengine.upbound.io_rocketmqconsumergroups.yaml
  package/crds/dms.flexibleengine.upbound.io_rocketmqinstances.yaml
  package/crds/dms.flexibleengine.upbound.io_rocketmqtopics.yaml
  package/crds/dms.flexibleengine.upbound.io_rocketmqusers.yaml
Labels: size/XL, feature

#130 chore(netacl): Disable resources firewall fw
  apis/netacl/v1beta1/zz_firewallgroup_types.go
  apis/netacl/v1beta1/zz_generated.deepcopy.go
  apis/netacl/v1beta1/zz_generated.managed.go
  apis/netacl/v1beta1/zz_generated.managedlist.go
  apis/netacl/v1beta1/zz_generated.resolvers.go
  apis/netacl/v1beta1/zz_generated_terraformed.go
  apis/netacl/v1beta1/zz_policy_types.go
  apis/netacl/v1beta1/zz_rule_types.go
  config/external_name.go
  config/groups.go
  config/netacl/config.go
  config/provider.go
  examples-generated/netacl/firewallgroup.yaml
  examples-generated/netacl/policy.yaml
  examples-generated/netacl/rule.yaml
  internal/controller/netacl/firewallgroup/zz_controller.go
  internal/controller/netacl/policy/zz_controller.go
  internal/controller/netacl/rule/zz_controller.go
  internal/controller/zz_setup.go
  list-tested.md
  package/crds/netacl.flexibleengine.upbound.io_firewallgroups.yaml
  package/crds/netacl.flexibleengine.upbound.io_policies.yaml
  package/crds/netacl.flexibleengine.upbound.io_rules.yaml
Labels: size/XL, category/netacl, chore

#132 feat(mrsd): delete deprecated resources
  apis/mrsd/v1beta1/zz_cluster_types.go
  apis/mrsd/v1beta1/zz_generated.deepcopy.go
  apis/mrsd/v1beta1/zz_generated.managed.go
  apis/mrsd/v1beta1/zz_generated.managedlist.go
  apis/mrsd/v1beta1/zz_generated.resolvers.go
  apis/mrsd/v1beta1/zz_generated_terraformed.go
  apis/mrsd/v1beta1/zz_groupversion_info.go
  apis/mrsd/v1beta1/zz_hybridcluster_types.go
  apis/mrsd/v1beta1/zz_job_types.go
  apis/zz_register.go
  config/groups.go
  config/mrs/config.go
  config/provider.go
  examples-generated/mls/instance.yaml
  examples-generated/mrsd/cluster.yaml
  examples-generated/mrsd/hybridcluster.yaml
  examples-generated/mrsd/job.yaml
  internal/controller/mrsd/cluster/zz_controller.go
  internal/controller/mrsd/hybridcluster/zz_controller.go
  internal/controller/mrsd/job/zz_controller.go
  internal/controller/zz_setup.go
  package/crds/mrsd.flexibleengine.upbound.io_clusters.yaml
  package/crds/mrsd.flexibleengine.upbound.io_hybridclusters.yaml
  package/crds/mrsd.flexibleengine.upbound.io_jobs.yaml
Labels: size/XL, feature

#133 feat(modelarts): add examples
  examples/modelarts/dataset.yaml
  examples/modelarts/dataset.yaml.extra
  examples/modelarts/datasetversion.yaml
  list-tested.md
Labels: size/M, chore, feature

#125 feat(sms): add example-generated task/servertemplate
  apis/sms/v1beta1/zz_generated.deepcopy.go
  apis/sms/v1beta1/zz_generated.managed.go
  apis/sms/v1beta1/zz_generated.managedlist.go
  apis/sms/v1beta1/zz_generated.resolvers.go
  apis/sms/v1beta1/zz_generated_terraformed.go
  apis/sms/v1beta1/zz_groupversion_info.go
  apis/sms/v1beta1/zz_servertemplate_types.go
  apis/sms/v1beta1/zz_task_types.go
  apis/zz_register.go
  config/external_name.go
  config/provider.go
  config/sms/config.go
  examples-generated/sms/servertemplate.yaml
  examples-generated/sms/task.yaml
  examples/sms/servertemplate.yaml
  examples/sms/task.yaml
  internal/controller/sms/servertemplate/zz_controller.go
  internal/controller/sms/task/zz_controller.go
  internal/controller/zz_setup.go
  list-tested.md
  package/crds/sms.flexibleengine.upbound.io_servertemplates.yaml
  package/crds/sms.flexibleengine.upbound.io_tasks.yaml
Labels: size/XL, feature

#139 chore: Change secrets files name for respecting conventional naming
  examples/dcs/instance.yaml.secret
  examples/dds/instance.yaml.secret
  examples/dms/kafkainstance.yaml.secret
  examples/dws/cluster.yaml.secret
  examples/rds/instance.yaml.secret
  examples/vpc/peeringconnection.yaml.secret
Labels: size/XS, chore

#146 fix!: confusion argument Selector/Refs in netacl/acl and vpc/routetable
  apis/netacl/v1beta1/zz_acl_types.go
  apis/netacl/v1beta1/zz_generated.deepcopy.go
  apis/netacl/v1beta1/zz_generated.resolvers.go
  apis/vpc/v1beta1/zz_generated.deepcopy.go
  apis/vpc/v1beta1/zz_generated.resolvers.go
  apis/vpc/v1beta1/zz_routetable_types.go
  config/overrides.go
  examples-generated/netacl/acl.yaml
  examples/netacl/acl.yaml
  package/crds/netacl.flexibleengine.upbound.io_acls.yaml
  package/crds/vpc.flexibleengine.upbound.io_routetables.yaml
Labels: category/vpc, size/S, category/netacl, bugfix

#144 chore: Remove old scripts and use bean
  .vscode/tasks.json
  Makefile
  scripts/cli.py
  scripts/requirements.txt
Labels: size/L, chore

#147 fix(dedicatedlb)!: remove subnet_id selector/ref
  apis/dedicatedelb/v1beta1/zz_generated.resolvers.go
  apis/dedicatedelb/v1beta1/zz_member_types.go
  apis/elb/v1beta1/zz_generated.deepcopy.go
  apis/elb/v1beta1/zz_generated.resolvers.go
  apis/elb/v1beta1/zz_loadbalancer_types.go
  apis/elb/v1beta1/zz_member_types.go
  config/dedicatedelb/config.go
  config/elb/config.go
  config/external_name.go
  config/sdrs/config.go
  examples/dedicatedlb/member.yaml
  package/crds/elb.flexibleengine.upbound.io_loadbalancers.yaml
Labels: size/M, bugfix

#137 feat(css): Add examples cluster/snapshot
  apis/css/v1beta1/zz_cluster_types.go
  apis/css/v1beta1/zz_generated.deepcopy.go
  apis/css/v1beta1/zz_generated.resolvers.go
  config/css/config.go
  examples/css/cluster.yaml
  examples/css/snapshot.yaml
  package/crds/css.flexibleengine.upbound.io_clusters.yaml
Labels: size/M, feature

#150 chore: add recommended extensions vscode and files associations
  .vscode/extensions.json
  .vscode/settings.json
Labels: size/S, chore

#156 ci: add more sections in release changelog
  .github/workflows/release.yml
Labels: size/XS, ci

#153 feat: add cmd to check if all resources is implemented
  cmd/resources/main.go
  config/external_name.go
  config/groups.go
  go.mod
  go.sum
Labels: enhancement, size/M, dependencies, feature

#155 chore: add deprecated old resources
  config/provider.go
Labels: size/XS, chore, deprecated

#157 chore(cce/mrs/fgs): add deprecated or ignored resources
  config/external_name.go
  config/externalnamenottested.go
Labels: size/S, chore

#159 ci: update docs.crds.dev after a release
  .github/workflows/release.yml
Labels: size/XS, ci
